.show-img-class{
        font-weight: 700;
        color: white;
        text-decoration: none;
        padding: .8em 1em calc(.8em + 3px);
        background: rgb(64,199,129);
        transition: 0.2s;
      } 
      .show-img-class:hover { background: rgb(53, 167, 110); }
      
       
      
